* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

html {
    font-size: 62.5%;
}

body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

.tabs {
    display: flex;
    position: relative;
}

.tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 1.5rem;
    background-color: #c23564;
    transition: all 0.2s ease;
} 

.tab__item {
    min-width: 10rem;
    padding: 16px 20px 10px 20px;
    font-size: 2rem;
    text-align: center;
    color: #c23564;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
}
